# See https://help.github.com/ignore-files/ for more about ignoring files.

# virtual env
/env

# ng build
/public

# production
/build
/keys
/tools

# misc
.DS_Store
.env

# key
keys/
# pyc
*.pyc

# training data
/sentiment_training_pipeline/*.csv
/sentiment_training_pipeline/*.txt
